// _section_tri_card.scss

.tri_card_section {
    background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	@include mq(small, min) {
		background-position: right;
	}
	.wrap {
		flex-flow: row;
		padding: 50px 20px;
		min-height: 75vh;
		@include mq(small, min) {
			padding: 50px 0;
			display: flex;
		}
	}
	.tri_content_block {
		@include mq(small, min) {
			padding: 20px;
		}
		strong {
			font-size: 2.5rem;
		}
	}
	.v_aligntop {
		align-items: flex-start;
	}
	.v_alignmiddle {
		align-items: center;
	}
	.v_alignbottom {
		align-items: flex-end;
	}
	.tri_content_block {
		@include mq(small, min) {
			width: 50%;
			padding-right: 40px;
		}
	}
	.card_holder {
		align-items: center;
		@include mq(small, min) {
			width: 50%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

	}
}

.card_slot {
	box-shadow: 0 0 16px 0 hsla(0,0%,84%,.5);
	padding: 30px 50px;
	margin: 10px auto;
	background: #000;
	display: block;
	color: #fff;
	cursor: pointer;
	text-align: center;
	span {
		display: block;
	}
	@include mq(small, min) {
		width: 45%;
	}
	@include mq(med, min) {
		width: 31%;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		transition: all .3s cubic-bezier(.25,.46,.45,.94) 0s;
		transform: translateY(-10px);
		box-shadow: 0 2px 22px 0 hsla(0,0%,83%,.8);
	}	
}



.tri_card_section .btn_4-99 {
	background: $4_99;
}

.tri_card_section .btn_6-99 {
	background: $6_99;
}

.tri_card_section .btn_9-99 {
	background: $9_99;
}

.tri_card_section .btn_12-99 {
	background: $12_99;
}

.tri_card_section .btn_14-99 {
	background: $14_99;
}



