// _testimonial.scss

/* 
SECTION - Testimonial Slider 
---------------------------------------- */
.testimonial_block {
	background:#261C15;
	padding:100px 0 50px;
	height:100%;
	text-align:center;
	color: #fff;
	.slider {
		display: block;
		.section_title {
			margin: 0;
		}
		.swiper-container {
			width: 100%;
			.swiper-slide {
				a {
					display: inline-flex;
					width: 100%;
					height: 100%;
					font-size: initial;
					align-items: center;
					flex-direction: column;
					justify-content: flex-end;
					background-size: cover;
					background-position: center;
					vertical-align: top;
					text-align: center;
					color: white;
					padding: 10px 10px 60px;
					position: relative;
					&:hover {
						text-decoration: none;
					}
					&:after {
						display: block;
						position: absolute;
						bottom: 0;
						background: -moz-linear-gradient(bottom,#231e20 0,rgba(35,30,32,0) 100%);
						background: -webkit-linear-gradient(bottom,#231e20 0,rgba(35,30,32,0) 100%);
						background: linear-gradient(to top,#231e20 0,rgba(35,30,32,0) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#231E20',endColorstr='#231E20',GradientType=0);
						height: 240px;
						width: 100%;
						content: '';
						left: 0;
						@include mq(small, min) {
							height: 50%;
						}
					}
					.pre_header_text {
						font-size: 1.3em;
						text-transform: uppercase;
						z-index: 1;
						max-width: 100%;
					}
					.header_text {
						font-size: 2em;
						text-transform: uppercase;
						z-index: 1;
						max-width: 100%;
					}
					.callout_text {
						color: $primary-color;
						font-size: 1.3em;
						z-index: 1;
						max-width: 100%;
					}
				}
				blockquote {
					display: inline-flex;
					flex-direction: column;
					justify-content: center;
					overflow: visible;
					padding: 30px 0;
					max-width: calc(100% - 200px);
					@include mq(custom, min, 1190) {
						max-width: 980px;
					}
					&::before {
						text-align: left;
					}

					p:last-of-type {
						margin: 0;
					}
				}
			}

			.slide-nav {
				margin: 0;
			}
			.swiper-pagination-bullet {
				width: 20px;
				height: 20px;
				border-radius: 10px;
				margin: 0 10px;
			}

			.swiper-pagination-bullet-active {
				background: $primary-color;
			}
			.swiper-button-next {
				background: none;
				height: auto;
				width: auto;
				bottom: 50%;
				top: auto;
				line-height: 1;
				margin: 0;
				color: white;
				&:after {
					content: '\f054';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
				}
			}
			.swiper-button-prev {
				background: none;
				height: auto;
				width: auto;
				bottom: 50%;
				top: auto;
				line-height: 1;
				margin: 0;
				color: white;
				&:after {
					content: '\f053';
					font-family: 'Font Awesome 5 Free';
					font-weight: 900;
				}
			}
		}
	}
}
