.signup_banner {
	background: #282d38;
    color: #fff;
	.wrap {
		width: 100%;
    	padding: 10px 3% 25px 3%;
        text-align: center;
        @include mq(med, min) {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }
		span {
    		font-size: 24px;
		    margin-top: 20px;
		    font-weight: 500;
		    text-align: center;
		    line-height: 1.2;
            display: block;
        
            @include mq(med, min) {
                padding-right: 10px;
                margin: 15px auto 15px 0;
            }
		}
		.wpcf7 {
			margin: 0 0 0 auto;
            line-height: 1;
            @include mq(med, min) {
                display: inline-block;
            }
            span {
                @include mq(med, min) {
                    margin: 0;
                }
            }
		}
		form p {
			margin: 0;
		}
		input {
			background-color: rgba(0, 0, 0, 0.25);
    		border-radius: 5px;
    		font-size: 16px;
    		line-height: 1;
    		font-weight: 100;
			box-shadow: none;
            height: 44px;
            margin-bottom: 0;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			  color: #fff;
			  opacity: 1; /* Firefox */
			}
			
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			  color: #fff;
			}
			
			&::-ms-input-placeholder { /* Microsoft Edge */
			  color: #fff;
			}
		}
		.your-email {
			margin-bottom: 10px;
		}
		input[type="submit"] {
			max-width: 134px;
    		min-width: 0;
		}
		.ajax-loader {
			display: none;
        }
        .your-name,
        .your-email {
            @include mq(small, min) {
                max-width: 250px;
                width: calc(100% - 144px);
                margin-bottom: 0;
                padding-right: 10px;
                display: inline-block;
            }
        }
	}
}